<%- include ("../partials/navbar.ejs") %>
<div class="container-single-reminder">
    <img class="banner" src="<%= reminderItem.banner %>" alt="Banner Image">
</div>
<h1 class="page-header">Reminders</h1>

<!-- <pre><%= reminderItem.banner %></pre> -->

<ul class="list-group">
    <li class="list-group-item">
        <div class="reminder-title"><strong><%= reminderItem.title %></strong></div>
        <div class="reminder-description"><%= reminderItem.description %></div>
        <div class="reminder-completed">
            Completed:
            <% if (reminderItem.completed) { %>
                <span class="badge badge-success">True</span>
            <% } else { %>
                <span class="badge badge-danger">False</span>
            <% } %>
        </div>

        <a class="btn btn-warning" href="<%= "/reminder/" + reminderItem.id + "/edit" %>">Edit</a>

        <form class="deleteForm" method="POST" action="<%= "/reminder/delete/" + reminderItem.id %>">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </li>
</ul>


